@model CoffeeShop.Models.Order

<form asp-action="Checkout" method="post" role="form">
    @Html.AntiForgeryToken() <section data-bs-version="5.1" class="form6 cid-tsFfsp7eqK" id="form6-n">
        <div class="container">
            <div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>

            <div class="mt-5">
                <div class="d-flex justify-content-between align-itemscenter mb-4 border-bottom pb-4">
                    <h3 class="fs-5 fw-bolder m-0 lh-1">
                        Shipping Address
                    </h3>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label asp-for="FirstName" class="form-label">First name</label> <input asp-for="FirstName" type="text"
                                                                                                    class="form-control" placeholder="" required /> <span asp-validation-for="FirstName" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label asp-for="LastName" class="form-label">Last name</label> <input asp-for="LastName" type="text"
                                                                                                  class="form-control" placeholder="" required />
                            <span asp-validation-for="LastName" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label asp-for="Email" class="form-label">Email</label> <input type="email" class="form-control" asp-for="Email" placeholder="" /> <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label asp-for="Phone" class="form-label">Phone</label> <input type="tel" class="form-control" asp-for="Phone" placeholder="" /> <span asp-validation-for="Phone" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="form-group">
                            <label asp-for="Address" class="form-label">Address</label> <input type="text" class="form-control" asp-for="Address" placeholder="123 Some Street Somewhere" required /> <span asp-validation-for="Address" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="col-auto mbr-section-btn align-center mt-4">
                    <button type="submit" class="btn btn-primary display-4">
                        Place Order
                    </button>
                </div>
            </div>
        </div>
    </section>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}