@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model CoffeeShop.Models.Product

<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="generator" content="Mobirise v5.7.8, mobirise.com">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
    <link rel="shortcut icon" href="~/assets/images/coffee-icon-sign-symbol-design-free-png.webp" type="image/x-icon">
    <meta name="description" content="">


    <title>Detail</title>
    <link rel="stylesheet" href="~/assets/web/assets/mobirise-icons2/mobirise2.css">
    <link rel="stylesheet" href="~/assets/web/assets/mobirise-icons-bold/mobirise-icons-bold.css">
    <link rel="stylesheet" href="~/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/assets/bootstrap/css/bootstrap-grid.min.css">
    <link rel="stylesheet" href="~/assets/bootstrap/css/bootstrap-reboot.min.css">
    <link rel="stylesheet" href="~/assets/dropdown/css/style.css">
    <link rel="stylesheet" href="~/assets/socicon/css/styles.css">
    <link rel="stylesheet" href="~/assets/theme/css/style.css">
    <link rel="preload"
          href="https://fonts.googleapis.com/css?family=Jost:100,200,300,400,500,600,700,800,900,100i,200i,300i,400i,500i,600i,700i,800i,900i&display=swap"
          as="style" onload="this.onload=null;this.rel='stylesheet'">
    <noscript>
        <link rel="stylesheet"
              href="https://fonts.googleapis.com/css?family=Jost:100,200,300,400,500,600,700,800,900,100i,200i,300i,400i,500i,600i,700i,800i,900i&display=swap">
    </noscript>
    <link rel="preload" as="style" href="~/assets/mobirise/css/mbr-additional.css">
    <link rel="stylesheet" href="~/assets/mobirise/css/mbr-additional.css" type="text/css">




</head>

<body>

    <br>
    <br>
    <br>


    <div class="container">
        <div class="card-wrapper">
            <div class="row align-items-center">
                <div class="col-12 col-lg-6">
                    <div class="image-wrapper">
                        <img src="~/assets/images/mohammad-amirahmadi-tk2ifgn60xo-unsplash-815x1019.jpg"
                             alt="Website Builder">
                    </div>
                </div>
                <div class="col-12 col-lg">
                    <div class="text-box">
                        <h5 class="mbr-title mbr-fonts-style display-2">
                            <strong>@Model.Name</strong>
                        </h5>
                        <p class="mbr-text mbr-fonts-style display-7">
                            @Model.Name
                        </p>
                        <div class="cost">
                            <span class="currentcost mbr-fonts-style pr-2 display-2">@Model.Price.ToString("c")</span>
                        </div>
                        <div class="mbr-section-btn item-footer mt-2">
                            <a asp-controller="ShoppingCart"
                               asp-action="AddToShoppingCart"
                               asp-route-pId="@Model.Id"
                               class="btn item-btn btn-primary display-4">
                                <span class="mbrib-cart-add mbr-iconfont mbr-iconfont-btn"></span> Add to cart
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>

    <script src="~/assets/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/assets/parallax/jarallax.js"></script>
    <script src="~/assets/smoothscroll/smooth-scroll.js"></script>
    <script src="~/assets/ytplayer/index.js"></script>
    <script src="~/assets/dropdown/js/navbar-dropdown.js"></script>
    <script src="~/assets/theme/js/script.js"></script>
</body>

</html>
